html{
    padding: 0;
    margin: 0;
}
body{
background-color: rgba(137, 43, 226, 0.439);
font-family: 'Source Sans Pro', sans-serif;
margin: 2em 4em;

}
h1{
    text-align: center;
    color: rgb(85, 20, 104);
    font-style: oblique;
}
.img-profile{
    box-shadow: 4px;
    border-radius: 10px;
    border-color: black;
    border: 2px;
    
}
img{
    width: 200px;
    height: 200px;
}