html {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgba(204, 170, 237, 0.439);
  font-family: "Source Sans Pro", sans-serif;
  margin: 2em 4em;
}
h1 {
  text-align: center;
  color: rgb(85, 20, 104);
  font-style: oblique;
}
#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#contenedor > div {
  width: 50%;
}
img {
  width: 200px;
  height: 200px;
}

a {
  text-decoration: none;
  font-weight: 600;
}
.img-profile {
  box-shadow: 4px;
  border-radius: 10px;
  border-color: black;
  border: 2px;
}
.img-portafolio{
  width: 300px;
  height: 200px;
  border-radius: 20px;
}
.img-portafolio:hover {
  box-shadow: 5px 5px 2px 1px rgba(96, 3, 3, 0.212);
}
.redes{
  /* border:1px solid red; */
  display: flex;
}

.redes-link{
  width: 50px;
  height: 50px;
  /* border: 1px solid blue; */
  margin-left: 20px;
}
.redes-link.github{
  background-image: url(../img/icons8-github.svg);
  background-size: 50px 50px;
}
.redes-link.linkedin{
  background-image: url(../img/icons8-linkedin.svg);
  background-size: 50px 50px;
}
footer{
  margin-top: 20px;
}
